---
---

.Article {
  h1 {
    font-family: "Proxima Nova";
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    font-family: 'Source Serif Pro', serif;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 16px;
  }
}
