---
---

.Article {
  font-family: georgia, serif;
  letter-spacing: -0.063px;
  line-height: 1.58;
  font-weight: 400;

  h1, h2 {
    font-family: "Proxima Nova";
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 29px;
    font-size: 21px;
  }
}
