---
---

@import 'shared';

.Logo {
  font-family: "Proxima Nova";

  a:visited {
    color: $main-color;
  }
}

.Logo_title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;

  color: $main-color;
}

#jonl_n {
  letter-spacing: 4px;
}
