---
---

// COLORS

$main-color: #545427;
$read-color: #999999;
$total-width: 750px;
$sidebar-width: 275px;

body {
  color: $main-color;
  width: 100%;
}

a {
  color: $main-color;
  text-decoration: none;
}

a:visited {
  color: $read-color;
}

// LAYOUT

.l-container-wrap {
  max-width: $total-width;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.l-container {
}

.l-sidebar {
  position: absolute;
  width: $sidebar-width;
  display: inline-block;
  height: 100%;
}

.l-article {
  margin-left: $sidebar-width;
  max-width: $total-width - $sidebar-width;
  display: inline-block;
}
