---
---

@import 'shared';


body {
  color: $main-color;
  width: 100%;
}

a {
  color: $main-color;
  text-decoration: none;
}

a:visited {
  color: $read-color;
}

// MOBILE

.l-container {
  margin-left: auto;
  margin-right: auto;
}

// LAYOUT

@media (max-width: $mobile-max-width) {
  .l-logo {
    margin-bottom: 10px;
  }

  .l-container-wrap {
    margin-top: 3vh;
    width: 100%;
  }

  .l-container {
    width: 90%;
    max-width: 500px;
  }

  .l-mobile-nav {
    background: white;
    padding-top: 18px;
    padding-bottom: 18px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: -1px; // required as well.
  }

  .l-article {
    margin-top: 15px;
    min-height: 3vh;
  }

  .l-sidebar {
    margin-top: 50px;
    margin-bottom: 80vh;
  }

}

@media (min-width: $mobile-max-width+1) {

  $sidebar-width: 300px;
  $side-padding: 20px;
  $main-width: 900px;
  $total-width: $side-padding * 2 + $main-width;

  .l-mobile-nav {
    display: none;
  }

  .l-container-wrap {
    // background-color: #f1c40f;
    margin-top: 5vh;
  }

  .l-container {
    // background-color: #e67e22;
    max-width: $main-width;
    padding-left: $side-padding;
    padding-right: $side-padding;
  }

  .l-main {
    margin-top: 5vh;
    display: flex;
    flex-flow: row wrap;
  }

  .l-sidebar {
    // background-color: #e74c3c;
    order: 1;
    flex-basis: $sidebar-width;
    display: inline-block;
    width: 20%;
  }

  .l-article {
    // background-color: #2ecc71;
    order: 2;
    flex-grow: 1;

    display: inline-block;
    width: 300px;
    margin-bottom: 100px;
    // max-width: $total-width - $sidebar-width - 100;
  }
}


