---
---

@import 'shared';

.MobileNav {
}

.MobileNav_links {
  display: flex;
}

.MobileNav_link {
  margin-right: 22px;

  font-size: 14px;
  font-family: "Proxima Nova";
  letter-spacing: 1.5px;

  text-transform: uppercase;

  a:visited {
    color: $main-color;
  }
}
