---
---

@font-face {
  font-family: "Proxima Nova";
  src: url(/css/fonts/proxima-nova-regular.ttf);
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/css/fonts/proxima-nova-bold.ttf);
  font-weight: bold;
}
