---
---

@font-face {
  font-family: "Proxima Nova";
  src: url(/css/fonts/proxima-nova-regular.ttf);
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/css/fonts/proxima-nova-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "ITC Charter";
  src: url(/css/fonts/CharterITCbyBT-Roman.otf);
}

@font-face {
  font-family: "ITC Charter";
  src: url(/css/fonts/CharterITCbyBT-Bold.otf);
  font-weight: bold;
}
