---
---

.Sidebar {
  font-family: "Proxima Nova";
}

.Section {
  margin-bottom: 50px;

  .Section_title {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .Subsection {
    margin-bottom: 15px;
  }

  .Subsection_title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .Section_post-title, .Subsection_post-title {
    margin-left: 15px;
    margin-bottom: 8px;
  }
}
