<ol class="sidebar">
  <li class="section-title">About</li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="section-title">About</li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="section-title">About</li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="section-title">About</li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="section-title">About</li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
  <li class="post-title">
    <a href="/why">Why</a>
  </li>
</ol>
