<!DOCTYPE html>
<html>
  
  <head>
    {% include head_contents.html %} 
  </head>

  <body>
    <div class="l-container-wrap">
      <div class="l-container">
        <header>
          <div class=l-logo>
            {% include logo.html %}
          </div>
          <div class="l-mobile-nav">
            {% include mobile_nav.html %}
          </div>
        </header>
        <div class="l-main">
          <article class="l-article">
            <div class="Article">
              {{ content }}
            </div>
          </article>
          <aside class="l-sidebar">
            {% include sidebar.html %}
          </aside>
        </div>
      </div>
    </div>
  </body>

</html>
